<!-- Page description -->
<div><h2>Mean - StDev - Min - Max (2012 - 2017)</h2></div>
<div><h5>This section shows mean, standard deviation,
  minimum and maximum of {{type}} for each month of each year in period reported</h5></div>
<!-- Results -->
<div class="table-container mat-elevation-z3">
  <div><h3 class="table-header-title">{{type | titlecase}}</h3></div>
  <app-table [dataSource]="dataSource"
             [dataFields]="headerFields"
             [headerFields]="headerFields"
             [stickyHeader]="resultsStickyHeader"></app-table>
</div>
