<!-- Page description -->
<div><h2>Mean - StDev - Min - Max (2012 - 2017)</h2></div>
<div><h5>This section shows mean, standard deviation,
  minimum and maximum of temperature, pressure and humidity for each month of each year in period reported</h5></div>
<!-- Temperature Results -->
<div class="table-container mat-elevation-z3">
  <div><h3 class="table-header-title">Temperature</h3></div>
  <app-table [dataSource]="temperatureDataSource" [headerFields]="temperatureColumns" [stickyHeader]="resultsStickyHeader"></app-table>
</div>
<!-- Humidity Results -->
<div class="table-container mat-elevation-z3">
  <div><h3 class="table-header-title">Humidity</h3></div>
  <app-table [dataSource]="humidityDataSource" [headerFields]="humidityColumns" [stickyHeader]="resultsStickyHeader"></app-table>
</div>
<!-- Pressure Results -->
<div class="table-container mat-elevation-z3">
  <div><h3 class="table-header-title">Pressure</h3></div>
  <app-table [dataSource]="pressureDataSource" [headerFields]="pressureColumns" [stickyHeader]="resultsStickyHeader"></app-table>
</div>
