<mat-toolbar class="mat-elevation-z6" color="primary">
  <h1>Jasmine©</h1><h3>Batch Processing Engine</h3>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side"
                opened="true"
                [fixedInViewport]="true"
                [fixedTopGap]="64">
    <!-- sidenav content -->
    <mat-nav-list>

      <h2 matSubheader>Query 1 - Clear Cities</h2>

      <a mat-list-item routerLink="">Results</a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Query 2 - Analytics</h2>

      <a mat-list-item routerLink="">Temperature</a>
      <a mat-list-item routerLink="">Humidity</a>
      <a mat-list-item routerLink="">Pressure</a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Query 3 - Charts</h2>

      <a mat-list-item routerLink="">Temp Diff</a>

    </mat-nav-list>
  </mat-sidenav>
  <div>I contain the main content and I am scrollable</div>
</mat-sidenav-container>
<router-outlet></router-outlet>
