<!-- Page description -->
<div><h3>Max Temperature Difference (2016 - 2017)</h3></div>
<div><h5>This section shows the first three cities in the 2017 ranking of
  the temperature difference between the average temperature of January, February,
  March and April and the one of June, July, August and September.
  The position of the same city in the 2016 ranking with the respective value is also shown.</h5></div>
<!-- Results -->
<div class="table-container mat-elevation-z8">
  <app-table [dataSource]="dataSource"
             [dataFields]="dataFields"
             [headerFields]="headerFields"
             [stickyHeader]="resultsStickyHeader"
             [withFilter]="withFilter">
  </app-table>
</div>
